<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>fugaku36</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/fugaku36</string>
        <string>--update_period</string>
        <string>24</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>2</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/tmp/fugaku36.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/fugaku36.err</string>
</dict>
</plist>
